* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #20273a;
  --secondary-bg-color: #313c4e;
  --tertiary-bg-color: #2d3447;
  --main-text-color: #f8f9fa;
  --main-color: #00d09c;
  --main-color-transparent: rgba(0, 208, 156, 0.2);
  --accent-color: #ffc107;
  --accent-color-transparent: rgba(255, 176, 7, 0.2);
  --success-color: rgb(67, 252, 101);
  --success-color-transparent: rgba(67, 252, 101, 0.2);
  --fail-color: rgb(252, 67, 67);
  --fail-color-transparent: rgba(252, 67, 67, 0.2);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
}

.lnk:link,
.lnk:visited {
  font-size: 2.4rem;
  color: var(--main-color);
  text-align: center;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border-radius: 7px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.lnk:hover,
.lnk:active {
  background-color: var(--main-color-transparent);
  color: var(--main-color);
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.1);
  padding: 1.6rem 9.8rem;
  margin-bottom: 2rem;
}

.heading--primary {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--main-text-color);
}

.heading--primary .lnk {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: var(--main-text-color);
}

.heading--primary .icon {
  color: var(--main-color);
  height: 4.8rem;
  width: 4.8rem;
}

.how-to-use__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 129, 129, 0.5);
}

.hidden .how-to-use__backdrop {
  display: none;
}

.how-to-use__section {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  height: 80vh;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 1500px;
  background-color: var(--main-bg-color);
  border-radius: 7px;
  z-index: 999;
}

.how-to-use__section .section__title {
  margin-top: 400px;
}

.how-to-use__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}

.how-to-use__img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.how-to-use__header .btn {
  align-self: flex-end;
}

.how-to-use__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--main-text-color);
  margin-bottom: 3.2rem;
}

.how-to-use__step {
  margin-bottom: 3.2rem;
}

.how-to-use__explanation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  font-size: 2rem;
  font-weight: 400;
  color: var(--main-text-color);
}

.how-to-use__explanation span {
  padding: 0.5rem 1rem;
}

.how-to-use__link {
  align-self: center;
}

.bg--secondary {
  background-color: var(--secondary-bg-color);
}

.text__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 6.4rem;
  margin-top: 5rem;
}

.text__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-color: var(--tertiary-bg-color);
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.1);
  padding: 2.4rem 2.4rem;
  border-radius: 7px;
}

.text__title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
  position: relative;
}

.text__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -3px;
}

.text__area {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 11px;
  width: 100%;
  padding: 1.5rem;
  color: inherit;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-color);
}

.text__area::placeholder {
  color: var(--main-color);
}

.text__area:focus {
  outline: none;
  box-shadow: 0px 0px 0px 10px var(--main-color-transparent);
}

.text__area::-webkit-scrollbar {
  width: 10px;
}

.text__area::-webkit-scrollbar-track {
  background-color: var(--secondary-bg-color);
  border-radius: 0 11px 11px 0;
}

.text__area::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  border-radius: 0 11px 11px 0;
}

.tables__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
  background-color: var(--tertiary-bg-color);
  padding: 5rem 0;
  transition: all 0.3s ease;
}

.section__title {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.section__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -3px;
}

.table__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4.8rem;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table__title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.6rem;
}

.table__data {
  font-size: 1.8rem;
  border-collapse: separate;
  max-width: 40vw;
  overflow-x: auto;
}

.table td {
  padding: 0.8rem 1.6rem;
  text-align: center;
}

.table tr {
  background-color: var(--secondary-bg-color);
}

.table tr:nth-child(even) {
  background-color: var(--tertiary-bg-color);
}

/* .table:first-child {
  justify-self: end;
}

.table:last-child {
  justify-self: start;
} */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.8rem 2rem;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  border: none;
  font-weight: 600;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--main-color);
  background-color: var(--main-color-transparent);
  box-shadow: 0 0 0 2px var(--main-color);
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin-top: 5rem;
}

.highlight-td--fail {
  background-color: var(--fail-color-transparent);
  color: var(--fail-color);
}

.highlight-td {
  background-color: var(--success-color-transparent);
  color: var(--success-color);
}

.highlight-td--first-fail {
  border-left: 6px solid var(--fail-color);
}

.highlight-td--first-success {
  border-left: 6px solid var(--success-color);
}

.notification {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  border-radius: 7px;
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.notification--show {
  top: 10%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.notification--fail {
  background-color: var(--fail-color-transparent);
  color: var(--fail-color);
  border-left: 7px solid var(--fail-color);
}

.notification--success {
  background-color: var(--success-color-transparent);
  color: var(--success-color);
  border-left: 7px solid var(--success-color);
}

.hidden {
  display: none;
  pointer-events: none;
}
