* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #20273a;
  --secondary-bg-color: #313c4e;
  --tertiary-bg-color: #2d3447;
  --main-text-color: #f8f9fa;
  --main-color: #00d09c;
  --main-color-transparent: rgba(0, 208, 156, 0.2);
  --accent-color: #ffc107;
  --accent-color-transparent: rgba(255, 176, 7, 0.2);
  --success-color: rgb(67, 252, 101);
  --success-color-transparent: rgba(67, 252, 101, 0.2);
  --fail-color: rgb(252, 67, 67);
  --fail-color-transparent: rgba(252, 67, 67, 0.2);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.text__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.text__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.text__title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  position: relative;
}

.text__title::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -3px;
}

.text__area {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 11px;
  width: 100%;
  padding: 1.5rem;
  color: inherit;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-color);
}

.text__area::placeholder {
  color: var(--main-color);
}

.text__area:focus {
  outline: none;
  box-shadow: 0px 0px 0px 10px var(--main-color-transparent);
}

.text__area::-webkit-scrollbar {
  width: 10px;
}

.text__area::-webkit-scrollbar-track {
  background-color: var(--secondary-bg-color);
  border-radius: 0 11px 11px 0;
}

.text__area::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color);
  border-radius: 0 11px 11px 0;
}

.tables__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12.8rem;
  margin-top: 5rem;
}

.table {
  font-size: 1.8rem;
  border-collapse: separate;
  width: 60%;
  /* background-color: var(--secondary-bg-color); */
}

.table td {
  padding: 0.8rem 1.6rem;
  text-align: center;
  /* border: 3px solid var(--main-bg-color); */
  /* border: 1px solid #333; */
}

.table tr {
  background-color: var(--secondary-bg-color);
}

.table tr:nth-child(even) {
  background-color: var(--tertiary-bg-color);
}

.table:first-child {
  justify-self: end;
}

.table:last-child {
  justify-self: start;
}

.btn {
  display: inline-block;
  padding: 1.6rem 2rem;
  background-color: var(--main-color);
  color: var(--main-bg-color);
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  border: none;
  width: 24rem;
  font-weight: 600;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--main-color);
  background-color: var(--main-color-transparent);
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  margin-top: 5rem;
}

.highlight {
  background-color: rgba(67, 252, 101, 0.2);
  color: rgb(67, 252, 101);
}

.highlight-td {
  background-color: rgba(67, 252, 101, 0.2);
  color: rgb(67, 252, 101);
}

.highlight-td--first-fail {
  border-left: 6px solid var(--fail-color);
}

.highlight-td--first-success {
  border-left: 6px solid var(--success-color);
}
