* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(31, 40, 57);
  --secondary-bg-color: rgb(50, 60, 80);
  --main-text-color: #f8f9fa;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.text__section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.text__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.text__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.text__area {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
  border-radius: 11px;
  width: 100%;
  padding: 1.5rem;
  color: inherit;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-text-color);
}

.tables__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12.8rem;
  margin-top: 5rem;
}

.table {
  font-size: 1.8rem;
  border-collapse: collapse;
  width: 60%;
  background-color: var(--secondary-bg-color);
}

.table td {
  padding: 0.8rem 1.6rem;
  text-align: center;
  border: 3px solid var(--main-bg-color);
  /* border: 1px solid #333; */
}

.table tr:nth-child(even) {
  /* background-color: #f5f5f5;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
}

.table:first-child {
  justify-self: end;
}

.table:last-child {
  justify-self: start;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  font-size: 1.6rem;
  width: 24rem;
  font-weight: 600;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.highlight {
  /* background-color: rgba(144, 228, 48, 0.511);
  color: rgb(5, 83, 19); */
}
